.nav-bar{
  display: grid;
  height: 40px;
  background-color: #000000;

}
.nav-btn{
  padding: 5px;
  font-weight: 600;
  border-radius: 5px;
  margin-right: 10px;
  color: #ef6369;
}
.nav-btn:hover{
  transition-duration: 0.1s;
  color:whitesmoke;
  cursor: pointer;
}
.logo{
  padding: 5px;
 
  border-radius: 5px;
  margin-right: 10px;
  color: whitesmoke;
}
.nav-btns{
  display: flex;
}
.settings-icon{
  width: 20px;
  height: 20px;
  justify-self: center;
  align-self: center;
  opacity: 0.7;
  
}
.settings-icon:hover{
  opacity: 1;
}
.login-btn{
  text-align: center;
  align-self: center;
  border:none;
  background-color: transparent;
  color: #f1f1f1;

  border-radius: 1ch;
  transition-duration: 0.2s;
  box-shadow: #f1f1f1 1px 1px 2px;
  height: 20px;
}
.login-btn:hover{
  transition-duration: 0.2s;
  cursor: pointer;
  background-color: #f15058;
  box-shadow: #f1f1f1 2px 2px 4px;
 
 
}

.invert{
  filter: invert(100%);
}
.sizeSmall{
  width: 35px;
}
.logoMain{
  display: grid;
  align-items: center;
  padding: 10px;
  align-items: center;
  justify-content: center;
}