body{
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #313638;
    overflow-x:hidden;
    letter-spacing: 1px;
} 
.App {
  text-align: center;
 
}

.App-header {
  font-family:'Segoe UI';
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.highlight-color{
  background-color: #ef6369;
}
input:disabled{
  background-color: #2b2f31;
}
h3{
  margin-top: 0px;
  margin-bottom: 0px;
}

.bg-white{
  background-color: white;
}