body{
   background-color: #313638;
    overflow-x:hidden;
}
.App {
  text-align: center;
 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.highlight-color{
  background-color: #ef6369;
}
input:disabled{
  background-color: #313638;
}
h3{
  margin-top: 0px;
  margin-bottom: 0px;
}

.bg-white{
  background-color: white;
}