.sub-header{
  color:#d9f1fa ;
}
.price-tags{
  color: #ef6369;
}
.font-small{
  font-size: small;
}
.strong{
  font-weight: 500;
}
.highlight-font-color{
  color: #ef6369;
}
.btn-color{
  background-color: #1a1c1d;
}