.categoryTitles{
  color:#a1a9ac;
  font-size: 16px;
  text-align: left;
  margin-left: 15px;
  border-bottom: #464d50 1px solid;
  
}

.sub-header{
  color:#d9f1fa ;
  font-size: 14px;
  pointer-events: none;
}
.sub-header-btn{
  color:#d9f1fa ;
}
.light-font{
  font-weight: 300;
  
}
.price-tags{
  font-size: 1.7ch;
  color: #ef6369;
  pointer-events: none;
}
.font-small{
  font-size: small;
}
.strong{
  font-weight: 500;
}
.bold{
  font-weight: bold;
}
.highlight-font-color{
  color: #ef6369;
}
.btn-color{
  background-color: #1a1c1d;
}
.sub-header-black{
 color: #313638;
}
.error{
  display: grid;
  align-items: center;
  background-color: #fff0f0;
  color: #ef6369 ;
  margin: 5px;
  padding: 3px;
  font-size: 12px;

  border-radius: 5px;
  border:1px #ef6369 solid;
}
.success{
  display: grid;
  align-items: center;
  background-color: #f0fff0;
  color: #5ad85a ;
  margin: 5px;
  padding: 3px;
  font-size: 12px;

  border-radius: 5px;
  border:1px #5ad85a solid;
}
.font-color-lightGray{
  color: #f1f1f1;
}
.font-color-green{
  color: #5ad85a ;
}
.font-color-dgreen{
  color: #4fc580;
}
.font-color-orange{
  color:#F69333;
}
.font-size-large{
  font-size: 20px;
}
.font-size-med{
  font-size: 16px;
}
.font-size-xsmall{
  font-size: x-small;
}
.black-red-bg{
  color: white;
  background-color: #313638;
  border-radius: 10px;
  opacity: 0.7;
}
.black-red-bg:hover{
  background-color: #ef6369;
    color: white;
      opacity: 1;
}
.do-action{
 
  color:#313638;
   border: none;
   padding:3px;
   opacity: 0.8;
   font-weight: bold;
   background-color: rgb(240, 240, 240);
}
.cancel-action{

  color:#ef6369;
  padding:3px;
 background-color: rgb(240, 240, 240);
  opacity: 0.8;
  border:none;
    font-weight: bold;
}
.do-action:hover{
  opacity: 1;
   cursor: pointer;
   transition-duration: 0.3s;
}
.cancel-action:hover{
    opacity: 1;
  
    cursor: pointer;

    transition-duration: 0.3s;
}
.rounded-btn{
  padding: 10px;
  border-radius: 1em;
  margin-left: 5px;
  margin-right: 5px;

}
.close-btn{
  background-color: #313638;
  width: 30px;
  height: 30px;
  color: #d9f1fa;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 5px;
  border: none;
  
}
.close-btn:hover{
  background-color: #ef6369;
  transition-duration: 0.3s;
}
.small-icon{
  width:15px;
  opacity: 0.6;
  padding: 2px;
  border:1px solid white;
  border-radius: 2px;
}
.small-icon:hover{
  opacity: 1;
  cursor: pointer;
  border:1px solid #ef6369;
}
.inputs{
  border: 1px white solid;
  background-color: #ffffff;
  color: #6f6f6f;
  margin-right: 5px;
  box-shadow: 2px 2px 2px #e9e9e9;
  border-radius: 5px;
  opacity:0.8;
  transition-duration: 0.2s;
}
.inputs::placeholder{
  color: #666666
}
.inputs:hover{
    border: 1px solid #e6e6e6;
    opacity:1;
}
.bg-grey{
  background-color: #dfdfdf;
}
.bg-grey:hover{
  color:  #f1f1f1 ;
  background-color: #6f6f6f;
}
.bg-red{
  color:  #f1f1f1 ;
  background-color: #ef6369;
}
.bg-red:hover{
  color:  #f1f1f1 ;
  background-color: #ef6369;
}
.bg-black-header{
  background-color:#313836;
  height:2rem;
  align-items:center;
  display:grid;
}
.plus-btn{
  background-color:#313836;
  color: white;
  display: grid;
  justify-content: center;
  opacity: 0.3;
}
.plus-btn:hover{
  transition-duration: 0.3s;
  opacity: 0.8;
}
.nonClickable{
   pointer-events: none;
}
.bg-dark-white{
  background-color: #f1f1f1;
  cursor: default;
}
.bg-dark-white2{
 
  background-color: #e6e6e6;
  cursor: default;
}
.noPointerEvents{
  pointer-events: none;
}
.settings-role-btn{
  margin-right: 0.5ch;
  background-color: #6f6f6f;
  color: #f1f1f1;
  border:none;
  padding: 0.5ch;
  border-radius: 5px;
}
.settings-role-btn:hover{
  transition-duration: 0.3s;
  background-color: #313638;
  cursor: pointer;
}
.users{
  border: #6f6f6f 1px solid;
  border-radius: 5px;
  padding: 2px;
  margin:2px;
  color: #6f6f6f;
}
.users:hover{
  border: #313638 1px solid;
  border-radius: 5px;
  padding: 2px;
  margin:2px;
  color: #313638;
  cursor: pointer;
}
.do-action-bg{
  margin-top:5px;
  width: 100px;
  background-color: #f1f1f1;
  border: #313638 2px solid;
  opacity: 0.5;
  border-radius: 5px;
}
.cancel-action-bg{
  margin-top:5px;
  width: 100px;
  background-color: #f1f1f1;
  border: #ef6369 2px solid;
  opacity: 0.5;
  border-radius: 5px;
}
.grid2col{
  display: grid;
  grid-template-columns: repeat(2,auto);
  align-items: center;
}
.width100{
  width: 100px;
}
.grid2row{
  display: grid;
  grid-template-rows: repeat(2,auto);
  align-items: center;
}
.noData{
  border: #6f6f6f 1px solid;
  color: #6f6f6f;
  border-radius: 5px;
}