.sub-header{
  color:#d9f1fa ;
  pointer-events: none;
}
.sub-header-btn{
  color:#d9f1fa ;
}
.price-tags{
  color: #ef6369;
  pointer-events: none;
}
.font-small{
  font-size: small;
}
.strong{
  font-weight: 500;
}
.highlight-font-color{
  color: #ef6369;
}
.btn-color{
  background-color: #1a1c1d;
}
.sub-header-black{
 color: #313638;
}
.error{
  display: grid;
  align-items: center;
  background-color: #f5ac72;
  color: #ffffff ;
  padding: 10px;
  font-size: 12px;
}